<h1>Create a new cocktail</h1>
<div class="container">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
</div>

<p><%= link_to "Back to all cocktails", root_path %></p>
